@model AJAX_SHOWTABLE.Models.DataEmp

@{
    ViewBag.Title = "Create";
}
<script language="JavaScript">
    $(document).ready(function () {
        $("#empbirthday").datepicker({ dateFormat: "yy-mm-dd" });
        $("#builddate").datepicker({ dateFormat: "yy-mm-dd" });
        $("#logingdate").datepicker({ dateFormat: "yy-mm-dd" });
    });
</script>

<h2>Create</h2>
<form id="myform" action="" method="post">
    <div class="form-horizontal ">
        <div class="form-group">
            <label class="col-md-2 ">EmpID</label>
            <input type="text" id="empid" class="text-info col-md-10" disabled="disabled">
        </div>
        <div class="form-group">
            <label class="col-md-2 ">EmpName</label>
            <input type="text" id="empname" name="empname" class="text-info col-md-10">
        </div>
        <div class="form-group">
            <label class="col-md-2 ">EmpBirthday</label>
            <input type="text" id="empbirthday" name="empbirthday" class="text-info col-md-10">
        </div>
        <div class="form-group">
            <label class="col-md-2 ">Gender</label>
            <input type="text" id="gender" name="gender" class="text-info col-md-10">
        </div>
        <div class="form-group">
            <label class="col-md-2 ">BuildDate</label>
            <input type="text" id="builddate" name="builddate" class="text-info col-md-10">
        </div>
        <div class="form-group">
            <label class="col-md-2 ">LogingDate</label>
            <input type="text" id="logingdate" name="logingdate" class="text-info col-md-10">
        </div>
        <div class="form-group">
            <label class="col-md-2 ">JobTitle</label>
            <input type="text" id="jobtitle" name="jobtitle" class="text-info col-md-10">
        </div>
        <div class="form-group">
            <label class="col-md-2 ">UnitID</label>
            <input type="text" id="unitid" name="unitid" class="text-info col-md-10">
        </div>
        <div class="form-group">
            <label class="col-md-2 ">UnitName</label>
            <input type="text" id="unitname"  name="unitname"class="text-info col-md-10">
        </div>
        <div class="form-group">
            <label class="col-md-2 ">Seniority</label>
            <input type="text" id="seniority"  name="seniority" class="text-info col-md-10">
        </div>

        <input type="button" value="儲存" id="save" class="btn btn-success btn-lg">
    </div>
</form>


<script src="~/Scripts/jquery.validate.js"></script>
<script>
    $(function () {
        $('#myform').validate({
            errorClass: "my-error-class",
            event: "blur",
            rules: {
                empname: {
                    required: true,
                    minlength: 2
                },
                empbirthday: {
                    required: true,
                    dateISO: true
                },
                gender: {
                    required: true,
                    minlength: 2
                },
                builddate: {
                    required: true,
                    dateISO: true
                },
                logingdate: {
                    required: true,
                    dateISO: true
                },
                jobtitle: { required: true },
                unitid: { required: true },
                unitname: { required: true },
                seniority: { required: true },
            },

            messages: {
                empname: { required: "请務必输入" },
                empbirthday: {
                    required: "请務必输入",
                    dateISO: "请输入正確的日期"
                },
                gender: { required: "请務必输入" },
                builddate: {
                    required: "请務必输入",
                    dateISO: "请输入正確的日期"
                },
                logingdate: {
                    required: "请務必输入",
                    dateISO: "请输入正確的日期"
                },
                jobtitle: { required: "请務必输入" },
                unitid: { required: "请務必输入" },
                unitname: { required: "请務必输入" },
                seniority: { required: "请務必输入" },

            }


        })
    })
</script>

<script>
    $(function () {

        $('#save').click(function () {
            if ($('#myform').valid()) {
                alert('資料填入正確');
            } else {
                alert('資料填入有誤');
                return;
            }

            var obj = {
                //empid: $('#empid').val(),
                empname: $("#empname").val(),
                empbirthday: $("#empbirthday").val(),
                gender: $("#gender").val(),
                builddate: $("#builddate").val(),
                logingdate: $("#logingdate").val(),
                jobtitle: $("#jobtitle").val(),
                unitid: $("#unitid").val(),
                unitname: $("#unitname").val(),
                seniority: $("#seniority").val()
            }


            $.ajax({
                type: 'POST',
                data: JSON.stringify(obj),
                contentType: 'application/json',
                url: '@Url.Action("Create")',
                dataType: 'Json',
                success: function () {
                    alert('修改成功');
                    window.location.href = 'ShowAllData';

                }
            })
        })
    })



</script>
