@model AJAX_SHOWTABLE.Models.DataEmp
@{
    ViewBag.Title = "Edit";
}
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/themes/hot-sneaks/jquery-ui.css" rel="stylesheet">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
<script language="JavaScript">
    $(document).ready(function () {
        $("#empbirthday").datepicker({ dateFormat: "yy-mm-dd" });
        $("#builddate").datepicker({ dateFormat: "yy-mm-dd" });
        $("#logingdate").datepicker({ dateFormat: "yy-mm-dd" });
    });
</script>

<h2>資料修改頁</h2>
<br>
<form id="myform" action="" method="post">
    <div class="form-horizontal ">
        <div class="form-group">
            <label class="col-md-2 ">EmpID</label>
            <input type="text" value=@Model.EmpID id="empid" class="text-info col-md-10" disabled="disabled">
        </div>
        <div class="form-group">
            <label class="col-md-2 ">EmpName</label>
            <input type="text" value=@Model.EmpName id="empname" name="empname" class="text-info col-md-10 ">
        </div>
        <div class="form-group">
            <label class="col-md-2 ">EmpBirthday</label>
            <input type="text" value=@Model.EmpBirthday id="empbirthday" name="empbirthday" class="text-info col-md-10">
        </div>
        <div class="form-group">
            <label class="col-md-2 ">Gender</label>
            <input type="text" value=@Model.Gender id="gender" name="gender" class="text-info col-md-10">
        </div>
        <div class="form-group">
            <label class="col-md-2 ">BuildDate</label>
            <input type="text" value=@Model.BuildDate id="builddate" name="builddate" class="text-info col-md-10">
        </div>
        <div class="form-group">
            <label class="col-md-2 ">LogingDate</label>
            <input type="text" value=@Model.LogingDate id="logingdate" name="logingdate" class="text-info col-md-10">
        </div>
        <div class="form-group">
            <label class="col-md-2 ">JobTitle</label>
            <input type="text" value=@Model.JobTitle id="jobtitle" name="jobtitle" class="text-info col-md-10">
        </div>
        <div class="form-group">
            <label class="col-md-2 ">UnitID</label>
            <input type="text" value=@Model.UnitID id="unitid" name="unitid" class="text-info col-md-10">
        </div>
        <div class="form-group">
            <label class="col-md-2 ">UnitName</label>
            <input type="text" value=@Model.UnitName id="unitname" name="unitname" class="text-info col-md-10">
        </div>
        <div class="form-group">
            <label class="col-md-2 ">Seniority</label>
            <input type="text" value=@Model.Seniority id="seniority" name="seniority" class="text-info col-md-10">
        </div>

        @*<input type="button" value="儲存button驗證" id="buttonsave" class="btn btn-success btn-lg">*@
        <input type="button" value="儲存" id="save" class="btn btn-success btn-lg">
    </div>
</form>




@*alert  script*@
<link href="//cdnjs.cloudflare.com/ajax/libs/alertify.js/0.3.10/alertify.core.css" rel="stylesheet">
<link href="//cdnjs.cloudflare.com/ajax/libs/alertify.js/0.3.10/alertify.default.css" rel="stylesheet">
<script src="//cdnjs.cloudflare.com/ajax/libs/alertify.js/0.3.10/alertify.min.js"></script>

@*form validation*@
@*<script src="~/Scripts/jquery-1.10.2.js"></script>*@
<script src="~/Scripts/jquery.validate.js"></script>
<script>
    $(function () {
        $('#myform').validate({
            errorClass: "my-error-class",
            event: "blur",
            rules: {
                empname: {
                    required: true,
                    minlength: 2
                },
                empbirthday: {
                    required: true,
                    dateISO: true
                },
                gender: {
                    required: true,
                    minlength: 2
                },
                builddate: {
                    required: true,
                    dateISO: true
                },
                logingdate: {
                    required: true,
                    dateISO: true
                },
                jobtitle: { required: true },
                unitid: { required: true },
                unitname: { required: true },
                seniority: { required: true },
            },
            messages: {
                empname: { required: "请務必输入" },
                empbirthday: {
                    required: "请務必输入",
                    dateISO: "请输入正確的日期"
                },
                gender: { required: "请務必输入" },
                builddate: {
                    required: "请務必输入",
                    dateISO: "请输入正確的日期"
                },
                logingdate: {
                    required: "请務必输入",
                    dateISO: "请输入正確的日期"
                },
                jobtitle: { required: "请務必输入" },
                unitid: { required: "请務必输入" },
                unitname: { required: "请務必输入" },
                seniority: { required: "请務必输入" },

            }


        })
    })
</script>
<script>
        $(function () {
            $('#save').click(function () {
                //button按下後，form驗證
                if ($('#myform').valid()) {
                    //alert('資料填入正確');
                } else {
                    //alert('資料填入有誤');
                    return;
                }              

                var obj = {
                    empid: $('#empid').val(),
                    empname: $("#empname").val(),
                    empbirthday: $("#empbirthday").val(),
                    gender: $("#gender").val(),
                    builddate: $("#builddate").val(),
                    logingdate: $("#logingdate").val(),
                    jobtitle: $("#jobtitle").val(),
                    unitid: $("#unitid").val(),
                    unitname: $("#unitname").val(),
                    seniority: $("#seniority").val()
                }


                $.ajax({
                    type: 'POST',
                    data: JSON.stringify(obj),
                    contentType: 'application/json',
                    url: '@Url.Action("Edit")',
                    dataType: 'Json',
                    success: function () {
                        alert('修改成功');
                        window.location.href = 'Index';

                    }
                })
            })
        })

    </script>

